# Python
__pycache__
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.ini
*.log
*.sqlite
*.db
*.sqlite3
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn
*~
*.bak
*.tmp
*.temp
*.orig
*.rej
